.o-hero.--memberships {
  .hero-bg {
    background-color: #04070c;
    //background-image: url('../images/photos/programs-hero.jpg');
    background-image: url('../images/GettyImages-638790482.jpg');
    background-position: center 30%;
    background-size: cover;
  }
}