.a-fancyCard__grid {
  @media screen and (min-width: $small) {
    width: calc(50% - 1.5rem);
    float: left;
    @media screen and (max-width: $large) {
      &:nth-of-type(2n+2) {
        float: right;
      }
    }
    @media screen and (min-width: $large) {
      width: calc(33% - 2rem);
    }
  }
  &.--preferred {
    position:relative;
    @media screen and (min-width: $large) {
      margin-left: 3rem;
      margin-right: 3rem;
      background: #efefef;
      border: 1px solid #cccccc;
      padding: 1rem;
      padding-bottom: 7rem;
      border-radius: calc(var(--border-radius)*2);
      margin-top: -1rem;
      margin-bottom: 2rem;
      color: #737373;
      .a-fancyCard {
        margin-bottom: 0;
        width: calc(100%);
      }
      &:after {
        content: "Most Popular!";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.a-fancyCard__cta {
  @media screen and (min-width: $small) {
    width: calc(50% - 1.5rem);
    display: inline-block;
    float: right;
    @media screen and (min-width: $large) {
      width: 100%;
      display: block;
      float: none;
    }
  }
}

.a-fancyCard {
  width: 100%;
  display: block;
  background: linear-gradient(to bottom left, #1f1f1f, #000000);
  color: #dddddd;
  margin-bottom: 5rem;
  border-radius: var(--border-radius);
  opacity: 1;
  cursor: default;
  transition: opacity .15s ease-in-out;
  .btn {
    margin-bottom: -3rem;
  }
  &:hover {
    opacity: .95;
    img {
      transform: scale(1.1);
    }
  }
}

.a-fancyCard__title {
  font-size: 2rem;
  padding: 2rem;
  color: white;
  font-weight: black;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.a-fancyCard__title.--primary {
  background: linear-gradient(to top right, var(--primary-color-light), var(--primary-color));
}
.a-fancyCard__title.--secondary {
  background: linear-gradient(to top right, var(--secondary-color-light), var(--secondary-color-dark));;
}
.a-fancyCard__title.--grey {
  background: #1f1f1f;
  background: linear-gradient(to top right, #1f1f1f, #000000);
}

.a-fancyCard__image {
  height: 13rem;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    transform: scale(1.0);
    transition: transform 10s ease-out;
  }
}

.a-fancyCard__description, .sessions, .note {
  font-size: 1.6rem;
  display: block;
  margin: 2rem 2rem;
  .color-p {
    display: inline;
    color: var(--primary-color);
    padding: 0;
  }
  .color-s {
    color: var(--secondary-color);
  }
}

.a-fancyCard__metric {
  font-style: italic;
  display: inline-block; 
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  transition: font-size .25s ease-in-out;
  text-align: center;
  .metric__highlight {
      display: block;
      text-transform: uppercase;
      font-family: chivo;
      font-weight: 900;
      font-style: italic;
      font-size: 2.8rem;
      color: white;
      margin-right: .5rem;
      transition: font-size .25s ease-in-out;
  }
  &:before, &:after {
      content: '';
      display: block;
      background: var(--secondary-color);
      height: .5rem;
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      border-radius: 1rem;
      transition: width .25s ease-in-out;
  }
  &:after {
      background: var(--primary-color);
      width: 100%;
      z-index: 1;
  }
  @media screen and (min-width: $large) {
    .metric__highlight {
      display: inline;
    }
  }  
}

.note {
  text-align: left;
  display: block;
  min-height: 5rem;
  position: relative;
  padding-left: 3rem;
  &:before, {
      content: '';
      display: block;
      float: left;
      width: .3rem;
      height: 1.1rem;
      background: #cccccc;
      position: absolute;
      top: 0; left: 0;
      margin-left: .4rem;
      margin-top: .6rem;
  }
  &:after {
      content: '';
      display: block;
      float: left;
      width: 1.1rem;
      height: .3rem;
      background: #cccccc;
      position: absolute;
      top: 0; left: 0;
      margin-top: calc(.6rem + .4rem);
  }
}

.disclaimer {
  clear: both;
  display: inline-block;
  margin: auto;
  margin-top: 3rem;
  @media screen and (min-width: $large) {
    text-align: left;
    @media screen and (min-width: $wide) {
      width: 62rem;
    }
  }
  &:before {
      content:'*';
      display: block;
      color: var(--primary-color);
      font-size: 11rem;
      float: left;
      height: 100%;
      padding-top: 3rem;
      margin-right: 1rem;
      @media screen and (max-width: $large) {
        width: 100%;
      }
  }
}
.getting-started {
  @media screen and (min-width: $medium) {
    .step {
      float: left;
      width: 50%;
      margin-bottom: 0;
      &:nth-of-type(2n+2) p {
          border-left: 0;
      }
      
      @media screen and (min-width: $large) {
        width: 25%;
        p {
            border-left: 0;
        }
        &:nth-of-type(1) p {
          border-left: 1px solid #cccccc;
        }
      }
    }
  }
}

.program-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  grid-template-rows: auto;
  @media screen and (min-width: $small) {
    grid-template-columns: 1fr 1fr;
  }
  &.cards-3 {
    @media screen and (min-width: $small) {
      grid-template-columns: 1fr;
    }
    @media screen and (min-width: $medium) {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 126rem;
    }
  }
  .a-card {
    grid-column-start: auto;
    grid-column-end: auto;
    width: 100%;
    margin: 0;
  }
}


.m-coaches {
  margin: 0;
  padding: 0;
}

.cards-2s {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.a-card {
  list-style: none;
  background: white;
  margin-bottom: 3rem;
  overflow:hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  p:last-of-type {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    display: block;
    margin: 0;
  }
  &.-full {
    display: block;
    width: 100%;
  }
  &__title {
    display: block;
    margin: 2rem 0 0 2rem;
    &.--dark {
      display: block;
      background: #1e1e1e;
      color: white;
      padding: 2rem;
      margin: 0;
    }
    &.--primary {
      display: block;
      background: var(--primary-color);
      color: white;
      padding: 2rem;
      margin: 0;
    }
  }
  &__desc {
    padding: 2rem;
    margin-top: 0;
    flex-grow: 1;
  }
  &__cta {
    display: block;
    text-shadow: $text-shadow;
    background: linear-gradient(to right, var(--primary-color-light), var(--primary-color));
    border-top: 1px solid var(--primary-color-light);
    width: 100%;
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    &:after {
      content: '\02192';
      display: inline-block;
      margin-left: .5rem;
      transition: transform .15s ease-in-out;
    }
    &:hover {
      color: white;
      &:after {
        transform: translateX(.5rem);
      }
    }
  }
  &.--dark {
    background: #1e1e1e;
    .a-card__desc {
      > * + * {
        margin-top: 2rem;
      }
      p,ul,li,blockquote,span,div {
        color: #FFFFFF;
      }
      
    }
    .a-card__title {
      color: #FFFFFF;
    }
  }
}

.a-card__subtitle {
  color: #FFFFFF;
  opacity: .7;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.2em;
  display:block;
  &.--dark {
    display: block;
    background: #1e1e1e;
    color: white;
    padding: 1rem 2rem;
    margin: 0;
  }
}
 

.o-socialIcons__icon {
  position: relative;
  display: block;
  float: left;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #1e1e1e;
  margin-right: 1rem;
  font-size: 1.7rem;
  &:last-of-type {
    margin-right: 0;
  }
  &:before {
    transition: opacity .25s ease-in-out !important;
    content: attr(alt);
    display: inline;
    color: white;
    margin-left: 3rem;
    opacity: 1;
  } 
  img {
    width: 2rem;
    height: auto;
  }
  &.active {
    &:before {
      font-size: .75em;
      transition: font-size .25s ease-in-out, opacity 1s ease-in-out, width 1s ease-in-out !important;
    }
  }
  &.--fb.active,&.--fb:hover {
    background: #3b5998;
  }
  &.--tw.active,&.--tw:hover {
    background: #00b6f1;
  }
  &.--yt.active,&.--yt:hover {
    background: #ff0000;
  }
  &.--ig.active,&.--ig:hover {
    background: #c32aa3;
  }
}

.o-socialIcons {
  overflow: hidden;
  display: inline-block;
  margin: auto;
  margin-bottom: 3rem;
  width: 100%;
  @media screen and (max-width: $tiny) {
    .o-socialIcons__icon {
      width: calc(50% - .5rem);
      float: left;
      display: block;
      margin-right: 0;
      img {
        float: left;
        position: absolute;
        left: 0;
        margin-left: 1rem;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:before {
        width: auto;
        font-size: 13px;
      }
      &:nth-of-type(1), &:nth-of-type(2) {
        margin-bottom: 1rem;
      }
      &:nth-of-type(2n+2) {
        float: right;
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: $small) {
    &__icon {
      margin-bottom: 0;
      margin-right: 1rem;
      width: calc(25% - 1rem);
      text-align: center;
      img {
        position: relative;
        width: 2rem;
        margin: 0;
        height: auto;
        display: block;
        margin: auto;
      }
      &:before {
        opacity: 0;
        transform: scale(0,0);
        display: none;
      }
      &:nth-of-type(1), &:nth-of-type(2) {
        margin-bottom: 0rem;
      }
      &:nth-of-type(2n+2) {
        float: left;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}